# =========================
# Build Output
# =========================
build/

*.class

# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# Eclipse
# =========================
# Eclipse Dynamic Web Project settings are intentionally versioned.

# =========================
# Tomcat
# =========================
.smarttomcat/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# key
# =========================
*.pem
*.ppk
