<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<servlet>
		<servlet-name>plan</servlet-name>
		<servlet-class>com.traveling.plan.controller.PlanController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>plan</servlet-name>
		<url-pattern>/webPage/plan/PlanController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.traveling.login.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/webPage/login/LoginController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>signup</servlet-name>
		<servlet-class>com.traveling.signup.controller.SignupController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup</servlet-name>
		<url-pattern>/webPage/signup/SignupController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>stay</servlet-name>
		<servlet-class>com.traveling.stay.controller.StayController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stay</servlet-name>
		<url-pattern>/webPage/stay/StayController</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
       <servlet-name>stay</servlet-name>
       <url-pattern>/main</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>reservation</servlet-name>
		<servlet-class>com.traveling.reservation.controller.ReservationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reservation</servlet-name>
		<url-pattern>/webPage/reservation/ReservationController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>review</servlet-name>
		<servlet-class>com.traveling.review.controller.ReviewController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>review</servlet-name>
		<url-pattern>/webPage/review/ReviewController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mypage</servlet-name>
		<servlet-class>com.traveling.mypage.controller.MyPageController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mypage</servlet-name>
		<url-pattern>/webPage/mypage/MyPageController</url-pattern>
	</servlet-mapping>
	
    <welcome-file-list>
        <welcome-file>main</welcome-file>
    </welcome-file-list>

</web-app>