html {
  overflow-y: scroll;
}

/* 모달 열릴 때 흔들림 방지 */
body.modal-open,
body.modal-open header{
  padding-right: 0 !important;
}

.go_top {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  position: fixed;
  bottom: 50px;
  right: 100px;
  background: url(../../images/go_top.png) no-repeat center white;
  cursor: pointer;
  border-radius: 20px;
}